# -*- encoding: utf-8 -*-

# (C) Erik Bernoth, erik.bernoth@gmail.com
# This file can be used and redistributed as much as you want

# These are my standard git configurations I always seem to need on any
# platform

[user]
	name = Erik Bernoth
	email = erik.bernoth@gmail.com
[core]
	editor = vim

[push]
	default = simple

[color]
	ui = True
[merge]
	conflictstyle = diff3
	tool = vimdiff
	prompt = false

[alias]
	ci = commit -s
	lol = log --oneline --graph --decorate --all
	st = status
	stage = add
	unstage = reset HEAD
