# -*- encoding: utf-8 -*-

# (C) Erik Bernoth, erik.bernoth@gmail.com
# This file can be used and redistributed as much as you want

# These are my standard git configurations I always seem to need on any
# platform

[user]
    name = Erik Bernoth
    email = erik.bernoth@gmail.com
[core]
    editor = vim

[push]
    default = simple

[color]
    ui = True
[merge]
    conflictstyle = diff3
    tool = vimdiff
    prompt = false

[alias]
    # all useful commit combinations in short
    ci = commit -s
    cia = commit -as
    cim = commit -sm
    ciam = commit -asm

    # log like gitk
    lol = log --oneline --graph --decorate
    lola = log --oneline --graph --decorate --all
    # only show me what is not pushed yet
    top = log --oneline --graph --decorate master ^origin/master
    # only show me what is not merged from remote yet
    new = log --oneline --graph --decorate --all ^master origin/master

    #these are not really used yet
    st = status
    stage = add
    unstage = reset HEAD
